@media screen and (max-width: 1760px)
  .tasks
    &::after
      content: none
  .prize
    background: #12243F
    position: relative
    &::after
      content: ''
      position: absolute
      width: 100%
      left: 0
      bottom: 0
      height: 600px
      z-index: 0
      background: linear-gradient(180deg, rgba(13, 19, 81, 0) 0%, #0D1351 100%)
    &__container
      position: relative
      z-index: 2
    &__title
      margin: 0
    .prize-controls
      top: 305px
    &__slider
      &-item
        transform: scale(0.8)
        &:not(:last-child)
          margin: 0 -26px 0 0


@media screen and (max-width: 1510px)
  .home
    &__prize
      transform-origin: top center
      transform: scale(0.9)
    &__prize4
      transform-origin: right center
      transform: scale(0.85)
    &__prize5
      transform-origin: center
      transform: scale(0.8)

@media screen and (max-width: 1390px)
  .tasks
    &__slider
      &-bonus
        transform-origin: right center
        transform: scale(0.85)
      &-info
        margin: 230px 2px 0 0

@media screen and (max-width: 1290px)
  .home
    &__prize
      transform: scale(0.8)
    &__prize4
      transform: scale(0.75)
    &__prize5
      transform-origin: center
      transform: scale(0.7)
    &__prize1
      left: 51px
    &__info
      flex-direction: column
      align-items: stretch
      padding: 76px 106px 165px
    &__text
      margin: 0 0 150px 0

    &__img
      max-width: 100%
      &::before,
      &::after
        height: 90px
      &::before
        top: -112px
      &::after
        bottom: -112px

@media screen and (max-width: 1250px)
  .tasks
    .task-controls
      top: 230px
      left: 50%
      transform: translateX(-50%)
    &__container
      padding: 85px 41px 70px
    &__slider
      margin: 0 0 80px 0
      &-bonus
        transform: scale(1)
      &-wrap
        flex-direction: column
        align-items: center
      &-info
        max-width: 750px
        margin: 163px 0 95px 0
        display: flex
        flex-direction: column
        align-items: center

@media screen and (max-width: 1200px)
  .home
    &__prize
      transform: scale(0.7)
    &__prize4
      transform: scale(0.65)
    &__prize5
      transform: scale(0.55)
    &__prize1
      left: -56px
    &__prize2
      top: -366px
      right: 72px
    &__prize3
      top: -32px
      right: -86px
    &__prize5
      left: -418px
  .world
    &__title
      br
        display: inline-block




@media screen and (max-width: 1140px)
  .home
    &__img
      &::before
        top: -105px

@media screen and (max-width: 1040px)
  .home
    &__img
      &::before
        top: -95px

@media screen and (max-width: 940px)
  .home
    padding: 260px 0 105px 0
    &__prize1
      left: -30px
      top: -296px
      transform: scale(0.73)
    &__prize2
      top: -290px
      right: -115px
      transform: scale(0.75) rotate(14.94deg)
    &__prize3
      transform: scale(0.6)
      top: 119px
      right: -81px
    &__prize4
      transform: scale(0.7) rotate(-13.82deg)
      top: 231px
      right: -162px
    &__prize5
      transform: scale(0.55)
      left: -380px
      top: 78px
    &__title
      margin: 0 0 50px 0
      &-top
        img
          max-width: 58px
          margin: 0 8px 0 0
        span
          font-size: 76px
          line-height: 99px
      &-bottom
        margin-top: -8px
        img
          max-width: 70px
          margin: 0 10px
        span
          font-size: 76px
          line-height: 105px

    &__button
      flex-direction: column-reverse
      margin: 0 0 265px 0
      &-one
        margin: 0
        text-align: center
        font-size: 22px
        line-height: 29px
        padding: 26px 75px 24px
      &-two
        margin: 0 0 30px 0
        font-size: 24px
        line-height: 31px
        padding: 26px 75px 24px
    &__mouse
      display: none
    &__info
      padding: 70px 26px 124px
    &__text
      margin: 0 0 125px 0
      p
        font-size: 24px
        line-height: 35px
        max-width: 100%
        &:not(:last-child)
          margin: 0 45px 0 0
    &__img
      &::before
        top: -90px
      &::after
        bottom: -105px
  .participate
    &__title
      font-size: 54px
      line-height: 61px
      margin: 0 0 115px 0
      &::before
        right: -105px
      &::after
        left: -105px
    &__list
      margin: 0 0 55px 0
    &__button
      padding: 26px 117px 24px
      font-size: 24px
      line-height: 31px
    &__item
      &-img
        margin: 0 0 42px 0
        img
          margin: 17px 0
      &-text
        font-size: 36px
        line-height: 47px
    &__item:nth-child(odd)
      min-width: 612px
      padding: 57px 36px 53px
      .participate__item-img
        &::before,
        &::after
          height: 70px
    &__item:nth-child(even)
      min-width: 406px
      padding: 57px 36px 53px
      .participate__item-img
        &::before,
        &::after
          height: 70px
  .tasks
    &__title
      font-size: 54px
      line-height: 70px
      &::before
        right: -105px
      &::after
        left: -105px
    &__slider
      &-text
        font-size: 50px
        line-height: 72px
  .prize
    &__slider
      margin: 0 0 22px 0
    &__title
      font-size: 54px
      line-height: 70px
      &::before
        right: -105px
      &::after
        left: -105px
  .final
    &__title
      font-size: 54px
      line-height: 70px
      margin: 0 0 75px 0
      &::before
        right: -105px
      &::after
        left: -105px
    &__table
      &-subtitle
        font-size: 30px
        line-height: 38px
        margin: 0 0 25px 0
  .resultTable
    margin: 0 0 35px 0
    &__body
      &-number
        padding-left: 30px
    &__head
      &-place
        padding-right: 0
        padding-left: 0
  .world
    padding: 0 0 280px 0
    &__details-one
      margin: 0 0 15px 0
    &__details-two
      margin: 0 0 155px 0
    &__title
      font-size: 54px
      line-height: 70px
      margin: 0 0 45px 0
    &__button
      padding: 26px 150px 24px
      font-size: 24px
      line-height: 29px


@media screen and (max-width: 845px)
  .home
    &__text
      margin: 0 0 115px 0
    &__img
      &::before
        top: -80px

@media screen and (max-width: 770px)
  .home
    &__text
      margin: 0 0 120px 0
    &__img
      min-width: 100%
      &::before
        top: -85px

@media screen and (max-width: 750px)
  .participate
    &__title
      font-size: 44px
      line-height: 51px
      &::before,
      &::after
        width: 80px
        height: 30px
      &::before
        right: -85px
      &::after
        left: -85px
  .tasks
    &__slider
      &-bonus
        transform-origin: center
        transform: scale(0.8)
        margin: -100px 0 0 0
    &__details
      margin: -100px 0 0 0

@media screen and (max-width: 710px)
  .home
    &__text
      margin: 0 0 115px 0
    &__img
      &::before
        top: -75px

@media screen and (max-width: 680px)
  .home
    padding: 180px 0 55px 0
    &__prize1
      left: -122px
      top: -231px
      transform: scale(0.6)
    &__prize2
      top: -209px
      right: -195px
      transform: scale(0.45) rotate(-0.06deg)
    &__prize3
      transform: scale(0.4)
      top: 92px
      right: -118px
    &__prize4
      transform: scale(0.4) rotate(0.15deg)
      top: 55px
      right: -131px
    &__prize5
      transform: scale(0.35)
      left: -443px
      top: -196px
    &__title
      margin: 0 0 145px 0
      &-top
        img
          max-width: 37px
          margin: 0 8px 0 0
        span
          font-size: 40px
          line-height: 52px
      &-bottom
        margin-top: -5px
        img
          max-width: 43px
          margin: 0 7px
        span
          font-size: 40px
          line-height: 55px
    &__button
      position: relative
      z-index: 2
      margin: 0 0 45px 0
      &-one
        font-size: 18px
        line-height: 23px
        padding: 18px 95px 16px
      &-two
        margin: 0 0 15px 0
        font-size: 18px
        line-height: 23px
        padding: 19px 71px 17px
    &__img
      width: 100%
      &::before
        top: -70px
    &__container
      padding: 0 15px
    &__info
      padding: 46px 15px 125px
    &__text
      margin: 0 0 100px 0
      p
        font-size: 18px
        line-height: 23px
        &:not(:last-child)
          margin: 0 0 25px 0
  .participate
    &__title
      font-size: 28px
      line-height: 35px
      margin: 0 0 40px 0
      &::before,
      &::after
        width: 62px
        height: 27px
      &::before
        right: -74px
      &::after
        left: -74px
    &__list
      padding: 0 15px
      margin: 0 0 45px 0
    &__item
      &:not(:last-child)
        margin: 0 8px 0 0
      &-img
        margin: 0 0 20px 0
        img
          margin: 7px 0
      &-text
        font-size: 22px
        line-height: 29px
    &__item:nth-child(odd)
      min-width: 310px
      padding: 26px 16px 19px
      .participate__item-img
        &::before,
        &::after
          height: 36px
    &__item:nth-child(even)
      min-width: 204px
      padding: 26px 16px 19px
      .participate__item-img
        &::before,
        &::after
          height: 36px
    &__button
      font-size: 18px
      line-height: 23px
      padding: 19px 103px 17px
  .tasks
    padding: 75px 15px 40px 15px
    .task-controls
      top: 110px
      transform: translateX(-50%) scale(0.7)
      .controls-left,
      .task-counter
        margin: 0 20px 0 0
    &__container
      padding: 40px 20px 30px
    &__title
      font-size: 28px
      line-height: 35px
      margin: 0 0 40px 0
      &::before,
      &::after
        width: 62px
        height: 27px
      &::before
        right: -74px
      &::after
        left: -74px
    &__slider
      &-text
        font-size: 30px
        line-height: 36px
        margin: 0 0 30px 0
      &-button
        font-size: 18px
        line-height: 23px
        padding: 19px 92px 17px
      &-info
        margin: 109px 0 61px 0
      &-bonus
        transform: scale(0.55)
        margin: -199px 0 0 0
    &__details
      margin: -228px 0 0 0
  .prize
    padding: 0px 0 60px 0
    .prize-controls
      top: 136px
      width: 102%
    .controls-right-2,
    .controls-left-2
      transform: scale(0.55)
    &__title
      font-size: 28px
      line-height: 35px
      &::before,
      &::after
        width: 62px
        height: 27px
      &::before
        right: -74px
      &::after
        left: -74px
    &__details
      margin-top: -120px
    &__slider
      margin-top: -130px
      &-item
        transform: scale(0.5)
        &:not(:last-child)
          margin: 0 -26px 0 0
  .final
    &__container
      padding: 0 15px
    &__title
      font-size: 28px
      line-height: 35px
      margin: 0 0 60px 0
      &::before,
      &::after
        width: 62px
        height: 27px
      &::before
        right: -74px
      &::after
        left: -74px
    &__table
      &-subtitle
        font-size: 20px
        line-height: 26px
        margin: 0 0 15px 0
  .resultTable
    margin: 0 0 20px 0
    padding: 20px 4px 15px 4px

    &__head
      &-check,
      &-points,
      &-prize,
      &-place
        font-size: 14px
        line-height: 18px
        margin: 0 0 15px 0
    &__body
      padding: 0 5px 0 0
      &-number,
      &-check,
      &-points,
      &-prize
        font-size: 12px
        line-height: 54px
      &-prize
        padding: 0
      &-number
        padding-left: 15px

    .resultTable__body-number:after
      min-width: 15px !important
      max-width: 15px !important
      margin: 6px 0 0 5px !important
  .world
    padding: 0 0 200px 0
    position: relative
    &::before
      content: ''
      position: absolute
      width: 100%
      height: 36px
      bottom: 0
      background: url("../img/line.svg") no-repeat 50% 0/cover
    &__details-two
      margin: 0 0 50px 0
    &__title
      font-size: 36px
      line-height: 47px
      margin: 0 0 50px 0
      img
        max-width: 30px
    &__button
      font-size: 18px
      line-height: 23px
      padding: 19px 100px 17px

@media screen and (max-width: 535px)
  .home
    &__text
      margin: 0 0 80px 0
    &__img
      &::before
        top: -60px
    &__info
      padding: 46px 15px 104px
  .world
    &__title
      br
        display: none

@media screen and (max-width: 430px)
  .home
    &__text
      margin: 0 0 65px 0
    &__img
      &::before
        top: -45px
      &::after
        bottom: -100px
    &__info
      padding: 46px 15px 80px
  .tasks
    .task-controls
      top: 85px
      transform: translateX(-50%) scale(0.6)
    &__details
      margin: -271px 0 0 0
    &__slider
      &-info
        margin: 69px 0 61px 0
      &-bonus
        transform: scale(0.45)
        margin: -250px 0 0 0

@media screen and (max-width: 390px)
  .home
    &__img
      &::before
        top: -40px
      &::after
        bottom: -100px
    &__info
      padding: 46px 15px 80px

@media screen and (max-width: 370px)
  .home
    &__button
      width: 100%
      &-one
        text-align: center
        width: 100%
        padding: 18px 10px 16px
      &-two
        text-align: center
        width: 100%
        padding: 19px 10px 17px
  .participate
    &__button
      text-align: center
      padding: 19px 30px 17px
      width: 91%
  .tasks
    .task-controls
      top: 80px
      transform: translateX(-50%) scale(0.5)
    &__details
      margin: -298px 0 0 0
    &__slider
      &-button
        padding: 19px 20px 17px
        width: 100%
        text-align: center
      &-bonus
        transform: scale(0.4)
        margin: -276px 0 0 0
      &-info
        margin: 61px 0 61px 0
  .prize
    .prize-controls
      width: 112%
    .controls-right-2,
    .controls-left-2
      transform: scale(0.45)
  .resultTable
    &__body
      &-number,
      &-check,
      &-points,
      &-prize
        font-size: 9px
    &__head
      &-check,
      &-points,
      &-prize,
      &-place
        font-size: 10px
        line-height: 12px
        margin: 0px 0 15px 0
  .world
    &__button
      padding: 19px 15px 17px
      width: 100%



@media screen and (max-width: 350px)
  .home
    &__text
      margin: 0 0 55px 0
      p
        &:not(:last-child)
          margin: 0 0 20px 0
    &__img
      &::before
        top: -35px
      &::after
        bottom: -100px
    &__info
      padding: 38px 15px 71px
  .participate
    &__title
      font-size: 23px
      line-height: 30px