$blue: #000055
$magenta: #ff267e
$green: #05C489
$green-hover: #15E0A2
$green-active: #07A272
$grey: #EDEDED
$text: #292929
$greenBtn: #05C489
$white: #FFFFFF
$yellow: #FAB710
$gray-title: #EEEEEE

$blue-back: #0F1933

$violet: #2F2F6C

$font-suisse-reg: SuisseIntl-Regular, sans-serif // 400 //
$font-suisse-med: SuisseIntl-Medium, sans-serif // 500 //
$font-suisse-semb: SuisseIntl-SemiBold, sans-serif // 600 //
$font-wulkan: WulkanDisplay, sans-serif //


body
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  overscroll-behavior: none
  color: $grey
  height: 100%
  background: $blue-back


  img
    max-width: 100%
    height: auto

//styles summary
summary::-webkit-details-marker
  display: none
summary::marker
  content: none

[class*="__summary"]
  cursor: pointer
  font-family: $font-suisse-reg
  font-size: 26px
  line-height: 34px
  letter-spacing: 0.04em
  color: $yellow
  padding: 28px 26px 26px
  background: #0B1046
  border: 1px solid rgba(250, 183, 16, 0.65)
  border-radius: 4px
  position: relative
  transition: background-color .3s ease
  &::before
    content: '▼'
    position: absolute
    top: 53%
    right: 36px
    transform:  translateY(-50%) scaleY(0.6)
    @media screen and (max-width: 940px)
      font-size: 13px
      right: 32px
    @media screen and (max-width: 640px)
      right: 16px
  &:hover
    background: #17255D

  @media screen and (max-width: 940px)
    font-size: 18px
    line-height: 23px
    padding: 21px 32px 19px

  @media screen and (max-width: 680px)
    font-size: 16px
    line-height: 21px
    padding: 21px 21px 19px



[class*="__details-text"]
  padding: 5px 8px 30px 26px
  border: 1px solid rgba(250, 183, 16, 0.65)
  border-top: none
  background: #0B1046
  border-radius: 0 0 4px 4px
  p
    font-family: $font-suisse-med
    font-size: 14px
    line-height: 29px
    color: $white

[class*="__details-wrapper"]
  height: 470px
  overflow-y: scroll
  padding-right: 20px
  &::-webkit-scrollbar
    width: 4px
    background: rgba(217, 217, 217, 0.23)
  &::-webkit-scrollbar-thumb
    background: $yellow

[class*="__details"]
  width: 100%
  max-width: 1290px



[class*="__container"]
  max-width: 1780px
  margin: 0 auto
  padding: 0 25px
  @media screen and (max-width: 370px)
    padding: 0 15px

.wrapper-main
  overflow: hidden
  min-height: 100%
  background: url("../img/ellipse.svg") no-repeat 50% 37%/cover
  display: none

.wrapper
  background: linear-gradient(110.3deg, #0D1351 -17.82%, #05C4A2 209.56%)
  overflow: hidden
  position: relative
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 380px
    bottom: 0
    left: 0
    background: linear-gradient(180deg, rgba(13, 19, 81, 0) 0%, #11243F 92.19%)
    z-index: 0

/***********************************HOME SECTION***************************************/
.home
  padding: 315px 0 125px 0
  position: relative
  &__prize1
    position: absolute
    width: 379px
    height: 438px
    left: 129px
    top: -368px
    background: url("../img/home/prize-1.png") no-repeat 50% 0/contain
    @media screen and (max-width: 600px)
      background: url("../img/home/prize-1-mob.png") no-repeat 50% 0/contain
  &__prize2
    position: absolute
    width: 487px
    height: 470px
    top: -379px
    right: 177px
    background: url("../img/home/prize-2.png") no-repeat 50% 0/contain
    @media screen and (max-width: 600px)
      background: url("../img/home/prize-2-mob.png") no-repeat 50% 0/contain
  &__prize3
    position: absolute
    width: 285px
    height: 354px
    top: -125px
    right: -43px
    background: url("../img/home/prize-3.png") no-repeat 50% 0/contain
    @media screen and (max-width: 600px)
      background: url("../img/home/prize-3-mob.png") no-repeat 50% 0/contain
  &__prize4
    position: absolute
    width: 803px
    height: 745px
    top: 233px
    right: -256px
    background: url("../img/home/prize-4.png") no-repeat 50% 0/contain
    @media screen and (max-width: 600px)
      background: url("../img/home/prize-4-mob.png") no-repeat 50% 0/contain
  &__prize5
    position: absolute
    width: 943px
    height: 977px
    top: 48px
    left: -364px
    background: url("../img/home/prize-5.png") no-repeat 50% 0/contain
    @media screen and (max-width: 600px)
      background: url("../img/home/prize-5-mob.png") no-repeat 50% 0/contain
  &__container
    position: relative
    display: flex
    flex-direction: column
    align-items: center
  &__title
    margin: 0 0 45px 0
    display: flex
    flex-direction: column
    align-items: center
    &-top
      display: flex
      align-items: center
      margin: 0 0 7px 0
      img
        display: inline-block
        max-width: 70px
        margin: 0 14px 0 0
      span
        font-family: $font-suisse-med
        font-size: 90px
        line-height: 117px
        letter-spacing: 0.01em
        text-transform: uppercase
        color: $white
    &-bottom
      display: flex
      align-items: center
      img
        max-width: 86px
        display: inline-block
        margin: 0 14px
      span
        font-size: 90px
        line-height: 125px
        color: $white
        text-transform: uppercase
        &:first-child
          font-family: $font-wulkan
        &:last-child
          font-family: $font-suisse-semb
  &__button
    display: flex
    align-items: stretch
    margin: 0 0 195px 0
    &-one
      margin: 0 30px 0 0
      overflow: hidden
      position: relative
      display: inline-block
      font-size: 22px
      line-height: 29px
      padding: 26px 91px 24px
      color: $white
      letter-spacing: 0.04em
      text-transform: uppercase
      border: 2px solid rgba(255, 255, 255, 0.25)
      border-radius: 4px
      transition: border-color .3s ease
      span
        font-family: $font-suisse-med
      .blur
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: rgba(255, 255, 255, 0.08)
        filter: blur(6px)
        transition: background-color .3s ease
      &:hover
        border: 2px solid rgba(255, 255, 255, 0.85)
      &:hover .blur
        background: rgba(255, 255, 255, 0.15)
    &-two
      display: inline-block
      font-family: $font-suisse-med
      padding: 26px 75px 24px
      font-size: 24px
      line-height: 31px
      letter-spacing: 0.04em
      text-transform: uppercase
      color: $blue
      background: $green
      border-radius: 6px
      transition: background-color .3s ease
      &:hover
        background: $green-hover
      &:active
        background: $green-active
  &__mouse
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 0 65px 0
    &-text
      font-family: $font-suisse-reg
      font-size: 14px
      line-height: 18px
      letter-spacing: 0.04em
      color: $white
    &-body
      width: 20px
      height: 30px
      border: 1px solid $white
      border-radius: 30px
      display: flex
      justify-content: center
      position: relative
      margin: 0 0 12px 0
    &-wheel
      position: absolute
      top: 7px
      left: 0
      right: 0
      margin: auto
      width: 4px
      height: 10px
      border-radius: 30px
      background: $white
      animation: scroll 1.8s infinite linear
      @keyframes scroll
        0%
          transform: scaleY(1) translateY(0)
        20%
          transform: scaleY(1.2) translateY(3px)
          height: 10px
        60%
          transform: scaleY(.7) translateY(4px)
          opacity: 0
        to
          transform: scaleY(.5) translateY(0)
          opacity: 0
  &__info
    position: relative
    z-index: 2
    margin: 0 25px
    padding: 76px 106px
    background: $blue
    border-radius: 32px
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
  &__text
    max-width: 880px
    margin: 0 25px 0 0
    p
      font-family: $font-suisse-reg
      font-size: 26px
      line-height: 37px
      letter-spacing: 0.01em
      color: $white
      &:not(:last-child)
        margin: 0 0 33px 0
      span
        font-family: $font-wulkan
        color: $yellow
  &__img
    min-width: 479px
    max-width: 480px
    display: flex
    align-items: center
    justify-content: center
    position: relative
    &::before
      content: ''
      position: absolute
      width: 100%
      height: 45px
      background: url("../img/home/towel.svg") no-repeat 50% 0/contain
      top: -64px
      left: 0
    &::after
      content: ''
      position: absolute
      width: 100%
      height: 45px
      background: url("../img/home/towel.svg") no-repeat 50% 0/contain
      bottom: -64px
      left: 0

/***********************************PARTICIOATE SECTION***************************************/

.participate
  position: relative
  &__container
    padding: 0
    max-width: 1780px
    display: flex
    flex-direction: column
  &__title
    font-family: $font-suisse-med
    font-size: 60px
    line-height: 71px
    letter-spacing: 0.04em
    color: $gray-title
    display: inline-block
    position: relative
    margin: 0 0 90px 0
    align-self: center
    span
      font-family: $font-wulkan
    &::before,
    &::after
      position: absolute
      width: 90px
      height: 40px
      background: url("../img/participate/title-plush.svg") no-repeat 50% 0/contain
      top: 50%
      transform: translateY(-50%)
    &::after
      content: ''
      left: -115px
    &::before
      content: ''
      transform: translateY(-50%) scale(-1, 1)
      right: -115px
  &__list
    display: flex
    padding: 0 25px
    margin: 0 0 65px 0
    overflow-x: scroll
    &::-webkit-scrollbar
      display: none
      visibility: hidden
  &__item
    &-img
      display: flex
      flex-direction: column
      margin: 0 0 35px 0
      img
        margin: 10px 0
    &-text
      font-family: $font-suisse-med
      font-size: 24px
      line-height: 31px
      text-align: center
      letter-spacing: 0.01em
      text-transform: uppercase
      color: $blue
      span
        font-family: $font-wulkan
  &__item:nth-child(odd)
    min-width: 360px
    padding: 45px 8px 41px
    background: $yellow
    border-radius: 26px
    .participate__item-img
      &::before,
      &::after
        content: ''
        width: 100%
        height: 53px
        background: url("../img/participate/min-towel.svg") no-repeat 50% 0/contain
  &__item:nth-child(even)
    min-width: 230px
    padding: 45px 8px 41px
    background: $yellow
    border-radius: 26px
    .participate__item-img
      &::before,
      &::after
        content: ''
        width: 100%
        height: 53px
        background: url("../img/participate/max-towel.svg") no-repeat 50% 0/contain
  &__item:not(:last-child)
    margin: 0 25px 0 0
  &__button
    font-family: $font-suisse-med
    padding: 26px 120px 24px
    font-size: 24px
    line-height: 31px
    letter-spacing: 0.04em
    text-transform: uppercase
    border-radius: 4px
    background: $green
    color: $blue
    align-self: center
    transition: background-color .3s ease
    &:hover
      background: $green-hover
    &:active
      background: $green-active

/***********************************TASKS SECTION***************************************/

.tasks
  padding: 167px 15px 125px 15px
  background: #12243F
  position: relative
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 650px
    bottom: 0
    left: 0
    z-index: 0
    background: linear-gradient(180deg, rgba(13, 19, 81, 0) 0%, #0D1351 100%)
  &__container
    padding: 65px 60px 50px
    background: #0B1046
    border-radius: 32px
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    z-index: 1
  &__title
    font-family: $font-suisse-med
    font-size: 60px
    line-height: 78px
    text-align: center
    letter-spacing: 0.04em
    color: $gray-title
    position: relative
    margin: 0 0 60px 0
    &::before,
    &::after
      position: absolute
      width: 90px
      height: 40px
      background: url("../img/participate/title-plush.svg") no-repeat 50% 0/contain
      top: 50%
      transform: translateY(-50%)
    &::after
      content: ''
      left: -115px
    &::before
      content: ''
      transform: translateY(-50%) scale(-1, 1)
      right: -115px
  &__slider
    max-width: 100%
    margin: 0 0 80px 0
    &-item
      width: 100%
    &-wrap
      width: 100%
      height: auto
      display: flex
      justify-content: space-between
    &-info
      margin: 230px 55px 0 0
      max-width: 850px
      flex: 1 1 auto
    &-text
      font-family: $font-suisse-med
      font-size: 60px
      line-height: 80px
      letter-spacing: 0.01em
      color: $white
      margin: 0 0 65px 0
      span
        font-family: $font-wulkan
        color: $yellow
      p
        margin-top: 16px
        font-family: $font-suisse-reg
        font-size: 16px
        line-height: 21px
        letter-spacing: 0.01em
        color: #EEEEEE
    &-button
      display: inline-block
      font-family: $font-suisse-med
      padding: 26px 92px 24px
      font-size: 24px
      line-height: 31px
      letter-spacing: 0.04em
      text-transform: uppercase
      color: $blue
      background: $green
      border-radius: 4px
      transition: background-color .3s ease
      &:hover
        background: $green-hover
      &:active
        background: $green-active
    &-bonus
      position: relative
      &-live,
      &-prematch
        display: inline-flex
        align-items: center
        padding: 14px 28px 12px
        background: #FF0068
        position: absolute
        top: 94px
        right: 46px
        border-radius: 2px
        transform: rotate(10.35deg)
        .dot
          width: 8px
          height: 8px
          border-radius: 50%
          background: #FFFFFF
          margin: 0 12px 0 0
        .text
          font-family: $font-suisse-med
          letter-spacing: 0.01em
          text-transform: uppercase
          font-size: 42px
          line-height: 42px
          color: #FFFFFF
        img
          margin: 0 12px 0 0
          width: 35px
      &-prematch
        background: #6313E6
        top: 62px
        right: 16px

    &-bonus-wrapper
      min-width: 577px
      position: relative
      z-index: 2
      padding: 70px 26px 66px
      background: $yellow
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25)
      border-radius: 26px

    &-back
      z-index: 1
      left: -34px
      position: absolute
      width: 109px
      height: 100%
      background: url("../img/task/card-back-2.png") no-repeat 50% 0/contain
    &-img
      max-width: 525px
      margin: 0 0 40px 0
      img
        display: block
        margin: 12px 0
      &::before,
      &:after
        content: ''
        display: block
        width: 100%
        height: 46px
        @media screen and (min-width: 600px)
          background: url("../img/task/towel.svg") no-repeat 50% 0/contain
        @media screen and (max-width: 600px)
          background: url("../img/task/line-mog.png") no-repeat 50% 0/contain
    &-descr
      font-family: $font-wulkan
      font-size: 52px
      line-height: 72px
      text-align: center
      letter-spacing: 0.01em
      text-transform: uppercase
      color: $blue
      white-space: nowrap
      span
        position: relative
        display: inline-block
        font-family: $font-suisse-semb
        color: $yellow
        z-index: 1
        margin: 0 0 0 30px
        &::after
          content: ''
          z-index: -1
          top: 50%
          left: 50%
          position: absolute
          width: 130%
          height: 160%
          transform: translateY(-50%) translateX(-50%)
          background: url("../img/task/money.svg") no-repeat 50% 0/contain

  &__details[open] > &__summary::before
    top: 49%
    transform: translateY(-50%) scaleY(0.6) rotate(180deg)
  &__details[open] > &__summary
    border-bottom: none
    border-radius: 4px 4px 0 0



//slider help styles
.task-counter
  display: flex
  align-items: flex-end
  padding: 17px 30px 15px
  background: $yellow
  border-radius: 100px
  margin: 0 35px 0 0
  .active-slide
    font-family: $font-suisse-reg
    font-size: 42px
    line-height: 52px
    letter-spacing: 0.01em
    color: $blue
    margin: 0 20px 0 0
  .from
    font-family: $font-suisse-reg
    font-size: 27px
    line-height: 35px
    color: $blue
    letter-spacing: 0.01em
    margin: 0 20px 0 0
  .all-slide,
  .period
    font-family: $font-wulkan
    font-size: 42px
    line-height: 52px
    color: $blue
    letter-spacing: 0.01em
  .all-slide
    margin: 0 10px 0 0

.task-controls
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  left: 60px
  top: 270px
  z-index: 8

.controls-left,
.controls-right
  cursor: pointer
  position: relative
  width: 83px
  height: 83px
  display: flex
  align-items: center
  justify-content: center
  &.arrow-disabled
    pointer-events: none
  &.arrow-disabled::before,
  &.arrow-disabled::after
    animation-play-state: paused

  &::before
    content: ''
    position: absolute
    width: 83px
    height: 83px
    border-radius: 50%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: rgba(250, 183, 16, 0.15)
    display: flex
    justify-content: center
    align-items: center
    transition: background-color .3s ease
    animation: scale 3s infinite linear
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 61px
    height: 61px
    background: rgba(250, 183, 16, 0.2)
    border-radius: 50%
    transition: background-color .3s ease
    animation: scale 3s infinite linear
  &:hover::before
    background: rgba(255, 255, 255, 0.15)
    animation-play-state: paused
  &:hover::after
    background: rgba(255, 255, 255, 0.2)
    animation-play-state: paused

.controls-left
  margin: 0 35px 0 0
  &:hover .controls-left__arrow
    background: $white
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.34)

.controls-right
  &:hover .controls-right__arrow
    background: $white
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.34)

.controls-left__arrow
  z-index: 9
  width: 45px
  height: 45px
  background: #FAB710
  border-radius: 50%
  position: relative
  transition: background-color .3s ease
  cursor: pointer
  &::before
    content: ''
    position: absolute
    width: 4.5px
    height: 14px
    border-radius: 20px
    left: 47%
    top: 11.8px
    transform: translateX(-50%) rotate(45deg)
    background: #0D1351
    transition: background-color .3s ease
  &::after
    content: ''
    position: absolute
    width: 4.5px
    height: 14px
    border-radius: 20px
    left: 47%
    bottom: 11.8px
    transform: translateX(-50%) rotate(-45deg)
    background: #0D1351
    transition: background-color .3s ease

.controls-right__arrow
  width: 45px
  height: 45px
  background: #FAB710
  border-radius: 50%
  position: relative
  transition: background-color .3s ease
  cursor: pointer
  z-index: 9
  &.arrow-disabled
    pointer-events: none
  &::before
    content: ''
    position: absolute
    width: 4.5px
    height: 14px
    border-radius: 20px
    left: 53%
    top: 11.8px
    transform: translateX(-50%) rotate(-45deg)
    background: #0D1351
    transition: background-color .3s ease
  &::after
    content: ''
    position: absolute
    width: 4.5px
    height: 14px
    border-radius: 20px
    left: 53%
    bottom: 11.8px
    transform: translateX(-50%) rotate(45deg)
    background: #0D1351
    transition: background-color .3s ease





.slider
  &.not-enough-elems
    .slider-wrapper
      display: none

  &:not(.not-enough-elems)
    display: flex
    justify-content: space-between
    > *:not(.slider-wrapper)
      display: none

.slider-wrapper
  width: 100%
  position: relative
  overflow-x: hidden
  overflow-y: hidden
  &.prev
    .slider-inner
      transform: translateX(33.3333333%)
      transition: all .3s ease
      -webkit-transition: transform .3s ease
      -webkit-transition: -webkit-transform .3s ease

  &.next
    .slider-inner
      transform: translateX(-33.3333333%)
      transition: all .3s ease
      -webkit-transition: transform .3s ease
      -webkit-transition: -webkit-transform .3s ease

.slider-inner
  width: 300%
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  margin-left: -100%

.slider-page
  width: 100%
  display: flex
  align-items: flex-start
  flex: 0 0 33.33333%
  overflow-x: hidden
  overflow-y: hidden
  justify-content: center
  transition: all .3s ease



/***********************************PRIZE SECTION***************************************/
.prize
  background: #0D1351
  padding: 0px 0 165px 0
  overflow: hidden
  &__container
    display: flex
    flex-direction: column
    align-items: center
    position: relative
  &__title
    font-family: $font-suisse-med
    font-size: 60px
    line-height: 78px
    text-align: center
    letter-spacing: 0.04em
    color: $gray-title
    position: relative
    margin: 0 0 60px 0
    &::before,
    &::after
      position: absolute
      width: 90px
      height: 40px
      background: url("../img/participate/title-plush.svg") no-repeat 50% 0/contain
      top: 50%
      transform: translateY(-50%)
    &::after
      content: ''
      left: -115px
    &::before
      content: ''
      transform: translateY(-50%) scale(-1, 1)
      right: -115px
  &__details[open] > &__summary::before
    top: 49%
    transform: translateY(-50%) scaleY(0.6) rotate(180deg)
  &__details[open] > &__summary
    border-bottom: none
    border-radius: 4px 4px 0 0
  &__slider
    margin: 0 0 80px 0
    max-width: 1571px
    position: relative
    z-index: 3
    &-item
      display: flex
      flex-direction: column
      align-items: center
      &:not(:last-child)
        margin: 0 70px 0 0
      &-1
        img
          max-width: 330px
      &-2
        img
          max-width: 410px
      &-3
        img
          max-width: 360px
      &-4
        img
          max-width: 360px
      &-5
        img
          max-width: 360px
      &-6
        img
          max-width: 310px
      &-7
        img
          max-width: 190px
      &-8
        img
          max-width: 350px
      &-9
        img
          max-width: 260px
      &-10
        img
          max-width: 520px
      &-11
        img
          max-width: 480px
      &-12
        img
          max-width: 450px
      &-13,
      &-14,
      &-15
        img
          max-width: 380px
    &-img
      width: 460px
      height: 460px
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      background: url("../img/prize/ellipse.svg") no-repeat 50% 0/contain
      margin: 30px 0 30px 0
      animation: dropShadow 3s infinite linear
    &-info
      white-space: nowrap
      font-family: $font-suisse-med
      padding: 19px 27px 17px
      border-radius: 100px
      color: $blue
      background: $yellow
      font-size: 22px
      line-height: 29px
      text-align: center
      letter-spacing: 0.04em




.prize-controls
  display: flex
  align-items: center
  justify-content: space-between
  z-index: 1
  position: absolute
  width: 97%
  top: 370px
  left: 50%
  transform: translateX(-50%)

.controls-left-2,
.controls-right-2
  cursor: pointer
  position: relative
  width: 83px
  height: 83px
  display: flex
  align-items: center
  justify-content: center
  &.arrow-disabled
    pointer-events: none
  &.arrow-disabled::before,
  &.arrow-disabled::after
    animation-play-state: paused

  &::before
    content: ''
    position: absolute
    width: 83px
    height: 83px
    border-radius: 50%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: rgba(250, 183, 16, 0.15)
    display: flex
    justify-content: center
    align-items: center
    transition: background-color .3s ease
    animation: scale 3s infinite linear
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 61px
    height: 61px
    background: rgba(250, 183, 16, 0.2)
    border-radius: 50%
    transition: background-color .3s ease
    animation: scale 3s infinite linear
  &:hover::before
    background: rgba(255, 255, 255, 0.15)
    animation-play-state: paused
  &:hover::after
    background: rgba(255, 255, 255, 0.2)
    animation-play-state: paused


.controls-left-2
  margin: 0 35px 0 0
  &:hover .controls-left__arrow
    background: $white
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.34)

.controls-right-2
  &:hover .controls-right__arrow
    background: $white
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.34)


/***********************************FINAL SECTION***************************************/

.final
  background: #0D1351
  &__container
    display: flex
    flex-direction: column
    max-width: 1340px
  &__title
    font-family: $font-suisse-med
    font-size: 60px
    line-height: 78px
    text-align: center
    letter-spacing: 0.04em
    color: $gray-title
    position: relative
    margin: 0 0 70px 0
    align-self: center
    &::before,
    &::after
      position: absolute
      width: 90px
      height: 40px
      background: url("../img/participate/title-plush.svg") no-repeat 50% 0/contain
      top: 50%
      transform: translateY(-50%)
    &::after
      content: ''
      left: -115px
    &::before
      content: ''
      transform: translateY(-50%) scale(-1, 1)
      right: -115px
  &__table
    &-subtitle
      font-family: $font-suisse-reg
      font-size: 30px
      line-height: 38px
      letter-spacing: 0.04em
      color: #FFFFFF
      margin: 0 0 25px 0


.resultTable
  width: 100%
  padding: 35px 8px 35px 16px
  background: rgba(217, 217, 217, 0.23)
  border-radius: 20px
  margin: 0 0 85px 0
  position: relative
  z-index: 3

  &__head
    display: flex
    align-items: center
    justify-content: flex-start
    &-check,
    &-points,
    &-prize,
    &-place
      width: 25%
      display: flex
      justify-content: center
      font-family: $font-suisse-reg
      font-size: 18px
      line-height: 38px
      letter-spacing: 0.04em
      color: rgba(255, 255, 255, 0.8)
    &-place
      width: 15%
      padding-right: 28px
    &-check
      width: 25%
    &-points
      width: 25%
      padding-right: 10px
    &-prize
      width: 35%


  &__body
    height: 499px
    overflow-y: scroll
    padding: 0 12px 0 0
    &::-webkit-scrollbar
      width: 4px
      background: rgba(217, 217, 217, 0.23)
      border-radius: 100px
      margin: 0 0 0 50px
    &::-webkit-scrollbar-thumb
      background: $yellow
      border-radius: 100px
    &-number,
    &-check,
    &-points,
    &-prize
      height: 50px
      width: 25%
      display: flex
      justify-content: center
      align-items: center
      font-family: $font-suisse-reg
      font-size: 16px
      line-height: 51px
      letter-spacing: 0.08em
      text-transform: uppercase
      color: $white
      text-align: center
    &-number
      position: relative
      display: flex
      justify-content: flex-start
      width: 15%
      padding-left: 60px
    &-check
      width: 25%
    &-points
      width: 25%
    &-prize
      width: 35%
      padding-left: 38px
      white-space: nowrap
    &-item
      background: #0D1A43
      display: flex
      align-items: center
      &:nth-child(odd)
        background: #0D1351
      &:nth-child(even)
        background: transparent
      &:nth-child(1)
        .resultTable__body-number::after
          content: ''
          background: url("../img/first-win.svg") no-repeat 50% 0/contain
          width: 25px
          height: 20px
          margin: 0 0 0 19px
      &:nth-child(2)
        .resultTable__body-number:after
          content: ''
          background: url("../img/second-win.svg") no-repeat 50% 0/contain
          width: 25px
          height: 20px
          margin: 0 0 0 15px
      &:nth-child(3)
        .resultTable__body-number:after
          content: ''
          background: url("../img/third-win.svg") no-repeat 50% 0/contain
          width: 25px
          height: 20px
          margin: 0 0 0 15px

/***********************************WORLD SECTION***************************************/

.world
  padding: 0 0 370px 0
  background: url("../img/final/bg-desc.jpg") no-repeat 50% 0/cover
  @media screen and (max-width: 680px)
    background: url("../img/final/bg-mob.jpg") no-repeat 50% 0/cover
  &__container
    display: flex
    flex-direction: column
    max-width: 1340px
    align-items: center
  &__details[open] > &__summary::before
    top: 49%
    transform: translateY(-50%) scaleY(0.6) rotate(180deg)
  &__details[open] > &__summary
    border-bottom: none
    border-radius: 4px 4px 0 0
  &__details-one
    margin: 0 0 25px 0
  &__details-two
    margin: 0 0 270px 0
  &__title
    font-family: $font-suisse-med
    font-size: 60px
    line-height: 70px
    text-align: center
    letter-spacing: 0.01em
    color: #FFFFFF
    margin: 0 0 120px 0
    span
      font-family: $font-wulkan
    img
      max-width: 50px
    br
      display: none
  &__button
    padding: 27px 131px 25px
    font-family: $font-suisse-semb
    font-size: 26px
    line-height: 31px
    letter-spacing: 0.04em
    text-transform: uppercase
    text-align: center
    background: $green
    color: $blue
    border-radius: 4px
    transition: background-color .3s ease
    &:hover
      background: $green-hover
    &:active
      background: $green-active






@keyframes scale
  0%
    transform: translate(-50%, -50%) scale(1)
  50%
    transform: translate(-50%, -50%) scale(1.15)
  100%
    transform: translate(-50%, -50%) scale(1)

@keyframes dropShadow
  0%
    filter: drop-shadow(0 0 5px $yellow)
  50%
    filter: drop-shadow(0 0 30px $yellow)
  100%
    filter: drop-shadow(0 0 5px $yellow)