.wrapper
    section.home
        .home__container
            .home__prize1.home__prize
            .home__prize2.home__prize
            .home__prize3.home__prize
            .home__prize4.home__prize
            .home__prize5.home__prize
            h1.home__title
                .home__title-top
                    img(src='img/home/ball.png' alt='ball')
                    span Футбол
                .home__title-bottom
                    span там, де
                    img(src='img/home/heart.png' alt='ball')
                    span ти
            .home__button
                a(href='#').home__button-one
                    .blur
                    span Participate
                a(href='#').home__button-two you participate
            .home__mouse
                .home__mouse-body
                    .home__mouse-wheel
                .home__mouse-text Scroll down
            .home__info
                    .home__text
                        p.
                            Ми знаємо, що зараз не до футболу. І не до чемпіонату світу.
                            Але знаємо, що #[span жага до гри - на все життя.]
                        p.
                            Тому #[span хочемо підтримати] жагу до гри тих, хто хоче слідкувати за
                            найочікуванішим футбольним турніром.
                        p.
                            Підтримати тих, хто сидить в окопі і тих, хто в укритті.
                            Хто евакуюється та тих, хто в дорозі по волонтерським справам.
                        p.
                            Бо футбол не на стадіоні і не перед телевізором. #[span Футбол, там де ти.]
                            Бери участь в акції та вигравай призи, які допоможуть дивитися футбол будь-де.
                    .home__img
                        img(src='img/home/fist-ukraine.png' alt='fist')
    section.participate
        .participate__container
            h2.participate__title How to #[span participate]?
            ul.participate__list
                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-1.png' alt='img-participate')
                    p.participate__item-text Press the button #[br] #[span “Take part”]

                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-2.png' alt='img-participate')
                    p.participate__item-text Compete #[br] #[span the task]

                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-3.png' alt='img-participate')
                    p.participate__item-text Get guaranteed #[br] #[span prizes]

                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-4.png' alt='img-participate')
                    p.participate__item-text Collect #[br] #[span points]

                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-5.png' alt='img-participate')
                    p.participate__item-text Take part in #[br] #[span the final draw]
            a(href='#').participate__button таке part

section.tasks
    .tasks__container
        h2.tasks__title Tasks
        .task-controls
            .controls-left.arrow-disabled
                .controls-left__arrow.controls-slider-left
            .task-counter
                .active-slide 1
                span.from from
                .all-slide 8
                span.period period
            .controls-right
                .controls-right__arrow.controls-slider-right
        .tasks__slider#tasks-slider
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text.
                            Наберите #[span 15 баллов],
                            сделав ставку на лайв событие
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-img
                                img(src='img/task/slide-1.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 150 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text.
                            Наберите #[span 20 баллов],
                            сделав ставку на лайв событие
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-img
                                img(src='img/task/slide-2.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 150 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text.
                            Наберите #[span 35 баллов],
                            сделав ставку на лайв событие
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-img
                                img(src='img/task/slide-3.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 150 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text.
                            Сделате  #[span 8 Ординаров на 8 матчей],
                            проход прематч события
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-img
                                img(src='img/task/slide-4.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 150 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text Соберите выиграшный  #[span Экспресс из 4 событий на проход команды в 1/2]
                            p.
                                * - (последний экспресс с 4 ивентов прематч)
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-img
                                img(src='img/task/slide-5.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 500 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text Сделайте ставку на  #[span точный счет в основное время, 2 матча - 2 ставки]
                            p.
                                * - (прематч, последняя ставка)
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-img
                                img(src='img/task/slide-6.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 500 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text Сделайте ставку на  #[span "Какая команда забьет первой"]
                            p.
                                * - (прематч, последняя ставка)
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-img
                                img(src='img/task/slide-7.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 500 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text Сделайте #[span три ставки на финал"]
                            p.
                                * - (исход, тотал и точный счет)
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-img
                                img(src='img/task/slide-8.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 1000 UAH]
        details.tasks__details
            summary.tasks__summary How does it work?
            .tasks__details-text
                .tasks__details-wrapper
                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).



.wrapper-main
    section.tournament
        .tournament__container
            h2.tournament__title Турнірна #[span таблиця]
            .resultTable
                .resultTable__wrapper
                    .resultTable__head
                        .resultTable__head-check Рахунок
                        .resultTable__head-points Бали
                        .resultTable__head-prize Приз
                    .resultTable__body
                        .resultTable__body-item
                            .resultTable__body-number 21  #[span (Ти)]
                            .resultTable__body-check 233434
                            .resultTable__body-points._active 345
                            .resultTable__body-prize TVs with a huge diagonal
                        .resultTable__body-item
                            .resultTable__body-number 1
                            .resultTable__body-check 233434
                            .resultTable__body-points 189
                            .resultTable__body-prize Home cinema
                        .resultTable__body-item
                            .resultTable__body-number 2
                            .resultTable__body-check 233434
                            .resultTable__body-points 78
                            .resultTable__body-prize Beer fridge
                        .resultTable__body-item
                            .resultTable__body-number 3
                            .resultTable__body-check 233434
                            .resultTable__body-points 34
                            .resultTable__body-prize Stand for beer
                        .resultTable__body-item
                            .resultTable__body-number 4
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 5
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 6
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 7
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 8
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Headphones
            details.tournament__details
                summary.tournament__summary Детальніше
                .tournament__details-text
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
                    p.
                        Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                        Де ти готуєшся до нового дня, як до наступного матчу.
                        Тут все просякнуте твоєю енергетикою.
                        Бо твій дім - твій домашній стадіон.
                        Цієї зими ми допоможемо прокачати його для перегляд спору.
                        Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                        Вболівай вдома , як на стадіоні.
            a(href='#').tournament__button Взяти участь
    section.rules
        .rules__container
            details.rules__details
                summary.rules__summary Детальні правила акції
                .rules__details-text
                    .wrapper
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.
                        p.
                            Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою. Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.Домашній стадіон, який пам'ятає легендарні перемоги та буденні ляпи.
                            Де ти готуєшся до нового дня, як до наступного матчу.
                            Тут все просякнуте твоєю енергетикою.
                            Бо твій дім - твій домашній стадіон.
                            Цієї зими ми допоможемо прокачати його для перегляд спору.
                            Бери участь в акції та вигравай телевізори, стереосистеми та домашні кінотеатри.
                            Вболівай вдома , як на стадіоні.






















