.wrapper
    section.home
        .home__container
            .home__prize1.home__prize
            .home__prize2.home__prize
            .home__prize3.home__prize
            .home__prize4.home__prize
            .home__prize5.home__prize
            h1.home__title
                .home__title-top
                    img(src='img/home/ball.png' alt='ball')
                    span Футбол
                .home__title-bottom
                    span там, де
                    img(src='img/home/heart.png' alt='ball')
                    span ти
            .home__button
                a(href='#').home__button-one
                    .blur
                    span Participate
                a(href='#').home__button-two you participate
            .home__mouse
                .home__mouse-body
                    .home__mouse-wheel
                .home__mouse-text Scroll down
            .home__info
                    .home__text
                        p.
                            Ми знаємо, що зараз не до футболу. І не до чемпіонату світу.
                            Але знаємо, що #[span жага до гри - на все життя.]
                        p.
                            Тому #[span хочемо підтримати] жагу до гри тих, хто хоче слідкувати за
                            найочікуванішим футбольним турніром.
                        p.
                            Підтримати тих, хто сидить в окопі і тих, хто в укритті.
                            Хто евакуюється та тих, хто в дорозі по волонтерським справам.
                        p.
                            Бо футбол не на стадіоні і не перед телевізором. #[span Футбол, там де ти.]
                            Бери участь в акції та вигравай призи, які допоможуть дивитися футбол будь-де.
                    .home__img
                        img(src='img/home/fist-ukraine.png' alt='fist')
    section.participate
        .participate__container
            h2.participate__title How to #[span participate]?
            ul.participate__list
                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-1.png' alt='img-participate')
                    p.participate__item-text Press the button #[br] #[span “Take part”]

                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-2.png' alt='img-participate')
                    p.participate__item-text Compete #[br] #[span the task]

                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-3.png' alt='img-participate')
                    p.participate__item-text Get guaranteed #[br] #[span prizes]

                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-4.png' alt='img-participate')
                    p.participate__item-text Collect #[br] #[span points]

                li.participate__item
                    .participate__item-img
                        img(src='img/participate/img-5.png' alt='img-participate')
                    p.participate__item-text Take part in #[br] #[span the final draw]
            a(href='#').participate__button таке part
section.tasks
    .tasks__container
        h2.tasks__title Tasks
        .task-controls
            .controls-left.arrow-disabled
                .controls-left__arrow.controls-slider-left
            .task-counter
                .active-slide 1
                span.from from
                .all-slide 8
                span.period period
            .controls-right
                .controls-right__arrow.controls-slider-right
        .tasks__slider#tasks-slider
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text.
                            Наберите #[span 15 баллов],
                            сделав ставку на лайв событие
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-bonus-live
                                .dot
                                .text LIVE
                            .tasks__slider-img
                                img(src='img/task/slide-1.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 150 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text.
                            Наберите #[span 20 баллов],
                            сделав ставку на лайв событие
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-bonus-live
                                .dot
                                .text LIVE
                            .tasks__slider-img
                                img(src='img/task/slide-2.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 150 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text.
                            Наберите #[span 35 баллов],
                            сделав ставку на лайв событие
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-bonus-live
                                .dot
                                .text LIVE
                            .tasks__slider-img
                                img(src='img/task/slide-3.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 150 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text.
                            Сделате  #[span 8 Ординаров на 8 матчей],
                            проход прематч события
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-bonus-prematch
                                img(src='img/time.svg' alt='time')
                                .text PREMATCH
                            .tasks__slider-img
                                img(src='img/task/slide-4.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 150 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text Соберите выиграшный  #[span Экспресс из 4 событий на проход команды в 1/2]
                            p.
                                * - (последний экспресс с 4 ивентов прематч)
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-bonus-prematch
                                img(src='img/time.svg' alt='time')
                                .text PREMATCH
                            .tasks__slider-img
                                img(src='img/task/slide-5.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 500 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text Сделайте ставку на  #[span точный счет в основное время, 2 матча - 2 ставки]
                            p.
                                * - (прематч, последняя ставка)
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-bonus-prematch
                                img(src='img/time.svg' alt='time')
                                .text PREMATCH
                            .tasks__slider-img
                                img(src='img/task/slide-6.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 500 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text Сделайте ставку на  #[span "Какая команда забьет первой"]
                            p.
                                * - (прематч, последняя ставка)
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-bonus-prematch
                                img(src='img/time.svg' alt='time')
                                .text PREMATCH
                            .tasks__slider-img
                                img(src='img/task/slide-7.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 500 UAH]
            .tasks__slider-item
                .tasks__slider-wrap
                    .tasks__slider-info
                        .tasks__slider-text Сделайте #[span три ставки на финал"]
                            p.
                                * - (исход, тотал и точный счет)
                        a(href='#').tasks__slider-button Place bet
                    .tasks__slider-bonus
                        .tasks__slider-back
                        .tasks__slider-bonus-wrapper
                            .tasks__slider-bonus-prematch
                                img(src='img/time.svg' alt='time')
                                .text PREMATCH
                            .tasks__slider-img
                                img(src='img/task/slide-8.png' alt='slide')
                            .tasks__slider-descr.
                                min bet
                                #[span 1000 UAH]
        details.tasks__details
            summary.tasks__summary How does it work?
            .tasks__details-text
                .tasks__details-wrapper
                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
section.prize
    .prize__container
        h2.prize__title Prize
        .prize-controls
            .controls-left-2.arrow-disabled
                .controls-left__arrow.controls-slider-left
            .controls-right-2
                .controls-right__arrow.controls-slider-right
        .prize__slider#prize-slider
            .prize__slider-item.prize__slider-item-1
                .prize__slider-img
                    img(src='img/prize/prize-1.png' alt='prize')
                .prize__slider-info Супер дупер аккумулятор
            .prize__slider-item.prize__slider-item-2
                .prize__slider-img
                    img(src='img/prize/prize-2.png' alt='prize')
                .prize__slider-info iPhone 14 Pro 256GB
            .prize__slider-item.prize__slider-item-3
                .prize__slider-img
                    img(src='img/prize/prize-3.png' alt='prize')
                .prize__slider-info JBL Tune 760NC Black
            .prize__slider-item.prize__slider-item-4
                .prize__slider-img
                    img(src='img/prize/prize-4.png' alt='prize')
                .prize__slider-info Не замерзнешь
            .prize__slider-item.prize__slider-item-5
                .prize__slider-img
                    img(src='img/prize/prize-5.png' alt='prize')
                .prize__slider-info Для тиктоков
            .prize__slider-item.prize__slider-item-6
                .prize__slider-img
                    img(src='img/prize/prize-6.png' alt='prize')
                .prize__slider-info Mark Ryden Biz 5,6" Black
            .prize__slider-item.prize__slider-item-7
                .prize__slider-img
                    img(src='img/prize/prize-7.png' alt='prize')
                .prize__slider-info Когда нет света
            .prize__slider-item.prize__slider-item-8
                .prize__slider-img
                    img(src='img/prize/prize-8.png' alt='prize')
                .prize__slider-info Никаких свечек
            .prize__slider-item.prize__slider-item-9
                .prize__slider-img
                    img(src='img/prize/prize-9.png' alt='prize')
                .prize__slider-info Тоже для тиктока
            .prize__slider-item.prize__slider-item-10
                .prize__slider-img
                    img(src='img/prize/prize-10.png' alt='prize')
                .prize__slider-info Для твоей бывшей
            .prize__slider-item.prize__slider-item-11
                .prize__slider-img
                    img(src='img/prize/prize-11.png' alt='prize')
                .prize__slider-info Кинцо
            .prize__slider-item.prize__slider-item-12
                .prize__slider-img
                    img(src='img/prize/prize-12.png' alt='prize')
                .prize__slider-info Никогда сам не купишь
            .prize__slider-item.prize__slider-item-13
                .prize__slider-img
                    img(src='img/prize/prize-13.png' alt='prize')
                .prize__slider-info Циферки
            .prize__slider-item.prize__slider-item-14
                .prize__slider-img
                    img(src='img/prize/prize-14.png' alt='prize')
                .prize__slider-info Снова циферки
            .prize__slider-item.prize__slider-item-15
                .prize__slider-img
                    img(src='img/prize/prize-15.png' alt='prize')
                .prize__slider-info Маленькая циферка
        details.prize__details
            summary.prize__summary How to get prize?
            .prize__details-text
                .prize__details-wrapper
                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
section.final
    .final__container
        h2.final__title Final
        .final__table
            h3.final__table-subtitle Tournament table
            .resultTable
                .resultTable__wrapper
                    .resultTable__head
                        .resultTable__head-place Place
                        .resultTable__head-check ID
                        .resultTable__head-points Points
                        .resultTable__head-prize Prizes
                    .resultTable__body
                        .resultTable__body-item
                            .resultTable__body-number 1
                            .resultTable__body-check 233434
                            .resultTable__body-points 345
                            .resultTable__body-prize Iphone 14 Pro
                        .resultTable__body-item
                            .resultTable__body-number 2
                            .resultTable__body-check 233434
                            .resultTable__body-points 189
                            .resultTable__body-prize Samsung TV
                        .resultTable__body-item
                            .resultTable__body-number 3
                            .resultTable__body-check 233434
                            .resultTable__body-points 78
                            .resultTable__body-prize Samsung TV
                        .resultTable__body-item
                            .resultTable__body-number 4
                            .resultTable__body-check 233434
                            .resultTable__body-points 34
                            .resultTable__body-prize Macbook Air M2
                        .resultTable__body-item
                            .resultTable__body-number 5
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Samsung TV
                        .resultTable__body-item
                            .resultTable__body-number 6
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Free spin
                        .resultTable__body-item
                            .resultTable__body-number 7
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Free spin
                        .resultTable__body-item
                            .resultTable__body-number 8
                            .resultTable__body-check 233434
                            .resultTable__body-points 19
                            .resultTable__body-prize Samsung TV
                        .resultTable__body-item
                            .resultTable__body-number 9
                            .resultTable__body-check 233434
                            .resultTable__body-points 10
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 10
                            .resultTable__body-check 233434
                            .resultTable__body-points 10
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 11
                            .resultTable__body-check 233434
                            .resultTable__body-points 10
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 12
                            .resultTable__body-check 233434
                            .resultTable__body-points 10
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 13
                            .resultTable__body-check 233434
                            .resultTable__body-points 10
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 14
                            .resultTable__body-check 233434
                            .resultTable__body-points 10
                            .resultTable__body-prize Headphones
                        .resultTable__body-item
                            .resultTable__body-number 15
                            .resultTable__body-check 233434
                            .resultTable__body-points 10
                            .resultTable__body-prize Samsung TV
section.world
    .world__container
        details.world__details.world__details-one
            summary.world__summary How to get points?
            .world__details-text
                .world__details-wrapper
                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        details.world__details.world__details-two
            summary.world__summary Detailed Promotion rules
            .world__details-text
                .world__details-wrapper
                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    p.
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        h2.world__title.
            Be #[span inside] the World Cup #[br] with  <img src='img/final/Ukraine.png' alt="Ukraine" />  Favbet
        a(href='#').world__button Take part


















